<header id="header">
  <div class="header">
    <a href="index.html" class="flex items-center space-x-2">
      <img src="/img/logohmte.png" alt="Logo HMTE" class="logo-navbar" />

      <h2 class="nav-text-white font-bold text-[1.2em]">HMTE | UNSOED</h2>
    </a>

    <nav class="nav-contain">
      <div class="navbar">
        <ul id="nav_list">
          <li>
            <a href="/" class="nav-link nav-text-white">Home</a>
          </li>

          <li class="dropdown">
            <a href="#berita" class="nav-drop nav-berita nav-text-white">
              Informasi

              <i class="fas fa-chevron-down"></i>
            </a>

            <ul class="dropdown-menu">
              <li>
                <a href="/page/news/news.html" class="nav-link">Berita</a>
              </li>

              <li>
                <a href="/page/event/event.html" class="nav-link">Event</a>
              </li>

              <li>
                <a href="/page/emagz/emagz.html" class="nav-link">Emagz</a>
              </li>

              <!-- <li><a href="#"class="nav-link"target="_blank">Events</a></li> -->
            </ul>
          </li>

          <li>
            <a href="/kepengurusan.html" class="nav-link nav-text-white">Profil Kabinet</a>
          </li>

          <li>
            <a href="#footer-placeholder" class="nav-link nav-text-white">Kontak</a>
          </li>
        </ul>
      </div>
    </nav>

    <button class="nav-toggle">
      <div class="line"></div>
      <div class="linee"></div>
      <div class="lineee"></div>
    </button>
  </div>
</header>
